.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.users-container h1 {
  width: 80%;
  margin-bottom: 20px;
  font-size: 2rem;
}

.users-card {
  width: 80%;
  background: var(--blanco);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.users-header,
.users-row {
  display: grid;
  grid-template-columns: 60px 80px 1.5fr 2fr 2fr 1fr 120px;
  align-items: center;
  padding: 12px 0;
}

.header-highlight {
  background: #222;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.users-row {
  border-bottom: 1px solid var(--gris-suave);
}

.users-row:last-child {
  border-bottom: none;
}

.users-header span,
.users-row span {
  padding-left: 10px;
}

/* AVATAR */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #222;
}

/* BOTÓN BANEADO */
.btn-ban {
  background: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-ban:hover {
  background: #fff;
  color: #000;
}

/* PAGINACIÓN */
.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  background: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.arrow:hover {
  background: #000;
  color: #fff;
}

.page-number {
  font-size: 1.2rem;
  font-weight: bold;
}
