.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.error-container h1 {
  width: 80%;
  margin-bottom: 20px;
  font-size: 2rem;
  color:#a1252b;
}

.error-card {
  width: 80%;
  background: var(--blanco);
  padding: 40px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
}

.error-message {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: #333;
}

.btn-home {
  background: #a1252b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  border: 2px solid #7d1c21;
}

.btn-home:hover {
  background: #c43a42;
  border-color: #c43a42;
  color: #fff;
}


