<div class="dashboard-container">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="logo">
      <img src="assets/LogoQuesos1.png" alt="Logo Quesos Bartolomé" />
    </div>

    <h2 class="menu-title">Menú</h2>
    <nav class="menu">
      <ul>

          <li (click)="goToAbout()">
            <i class="fa-solid fa-info-circle"></i> Acerca de nosotros
          </li>

          <li (click)="goToMyOrder()" *ngIf="isLoggedIn && isUser()">
            <i class="fa-solid fa-box"></i> Mi pedido
          </li>

          <ng-container *ngIf="isLoggedIn && isAdmin()">

            <li (click)="goToOrders()">
              <i class="fa-solid fa-box"></i> Pedidos
            </li>

            <li>
              <i class="fa-solid fa-file-invoice"></i> Facturas
            </li>

            <li>
              <i class="fa-solid fa-chart-line"></i> Gráficos
            </li>

            <li>
              <i class="fa-solid fa-cubes"></i> Stock
            </li>

            <li (click)="goToClients()">
              <i class="fa-solid fa-users"></i> Clientes
            </li>

          </ng-container>

        </ul>
      </nav>
  </aside>

  <!-- MAIN -->
  <main class="main-content">
    <div class="top-bar">
      <div ngbDropdown>
        <button class="btn btn-outline-danger dropdown-toggle" ngbDropdownToggle>Filtrar</button>
        <ul ngbDropdownMenu>
          <li ngbDropdownItem>Todos</li>
          <li ngbDropdownItem>Curados</li>
          <li ngbDropdownItem>Frescos</li>
        </ul>
      </div>

      <div class="auth-buttons">
        <ng-container *ngIf="!isLoggedIn; else logoutTemplate">
          <button class="btn btn-outline-rojo" (click)="goToLogin()">Iniciar Sesión</button>
          <button class="btn btn-danger" (click)="goToRegister()">Registrarse</button>
        </ng-container>

        <ng-template #logoutTemplate>
          <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
          <button class="btn btn-danger ms-2" (click)="goToProfile()" aria-label="Mi perfil">
            <i class="bi bi-person-circle fs-5"></i>
          </button>
        </ng-template>
      </div>

    </div> 

    <div class="card-grid">
      <div class="card shadow-sm" *ngFor="let cheese of cheeses" (click)="goToDetails(cheese.id!)">
        <div class="image-placeholder">
          <img [src]="'https://localhost:443/api/v1/cheeses/' + cheese.id + '/image'" alt="Imagen de {{ cheese.name }}" />
        </div>
        <div class="card-body">
          <p>{{ cheese.name }}</p>
          <p class="price">{{ cheese.price | currency }}</p>
        </div>
      </div>

      <div class="card add-card" (click)="goToNewCheese()" *ngIf="isLoggedIn && isAdmin()">
        <div class="add-content">
          <span class="plus">+</span>
          <p>Nuevo Queso</p>
        </div>
      </div>
    </div>
  </main>
</div>
